/*style goes here*/
.footer{
  color: #FFF;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;

}
.nav{
  color: inherit;
  text-decoration: none;
  padding:10px;
}
.hint{
  font-size:0.4em;
  color: rgba(255,255,255,0.55);
}
.label{
  font-size: .6em;
}
.fluid{
  flex-grow: 1;
}

/*previous*/
.previousLayout{
  padding-left: 40px;
}
.previousIcon{
  margin-right: 10px;
}
.previousText{
  text-align: left;
}

/*next*/
.nextLayout{
  padding-right: 40px;
}
.nextIcon{
  margin-left: 10px;
}
.nextText{
text-align: right;
}

.narrow {
  padding:0;
}