:host{
font-family: "RobotoDraft","Roboto",sans-serif;
-webkit-font-smoothing: antialiased;
}

[main]{
  background-color: #F9F9F9;
}

[drawer]{
  background-color: #FFFFFF;
  box-shadow:1px 0 1px rgba(0,0,0,.1);
}

.core-header{
  background-color:#2196F3;
  color: #FFF;
}

#drawerToolbar{
  background-color: #F9F9F9;
  color: #000;
}

#pageToolbar{
	-moz-transition: background-color .4s, font .18s, height .18s ease;
	-webkit-transition: background-color .4s,  font .18s, height .18s ease;
	-o-transition: background-color .4s, font .18s, height  .18s ease;
	transition: background-color .4s, font .18s, height .18s ease;
}

#pageToolbar .title{
	transition: background-color .4s, font .18s, height .18s ease;
	font-size: 1em;

}

#pageToolbar.tall .title{
	transition: background-color .4s, font .18s, height .18s ease;
	font-size: 2em;
}

core-toolbar{
	background-color:#526E9C;
	color:#fff
}

core-animated-pages {
	width: 85%;
  position: inherit;
  -webkit-user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
}

core-animated-pages > * {
	font-size: 50px;
	background-color: white;
}

.nav{
	color: inherit;
	text-decoration: none;
}
#research-meg{
  height: 3000px;

}

#research-nirs{
  height: 2000px;

}

.title{
  font-weight: 400;
}